@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
    display: grid;
    grid-template-areas:
        "header header label checkbox"
        "navigation content content content";
    grid-template-columns: 28ch auto auto 3ch;
    margin: 0px;
    font-family: "Fira Sans";
    height: 100vh;
}

/* Navigation pane */

body > header {
    grid-area: header;
    padding: 0.5em 1ch;
    background-color: #fafafa;
    font-size: 1.5em;
    font-weight: 400;
}

body > div#label-container {
    grid-area: label;
    justify-self: stretch;
    align-self: stretch;
    background-color: #fafafa;
    text-align: end;
    padding-top: 20px;
    padding-bottom: 20px;
}

body > #ligatures {
    grid-area: checkbox;
    background-color: #fafafa;
}

#ligatures ~ main code {
    font-family: "Fira Code";
    font-variant-ligatures: none;
}

#ligatures:checked ~ main code {
    font-variant-ligatures: normal;
}

body > nav {
    grid-area: navigation;
    color: #222;
    background-color: #fafafa;
    overflow-y: scroll;

    // Chapter counter layout stuff adapted from:
    // https://stackoverflow.com/a/26245056/7446875
    // Changed to use grid instead of table display mode.

    ol {
        list-style-type: none;
        counter-reset: item;
        padding-left: 0;

        & *::selection {
            background-color: transparent;
        }

        & > li {
            display: grid;
            grid-template-columns: min-content auto;
            counter-increment: item;
            padding: 0.5em;

            &::before {
                padding-right: 1ch;
                content: counters(item, ".") " ";
            }

            & > ol:last-child {
                grid-column-start: 2;
            }

            a {
                // cursor: default;
                color: unset;
                text-decoration: unset;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.selected {
                & a, &::before {
                    font-weight: bold;
                }
            }
        }

        ol {
            font-size: 0.9em;
        }
    }

    & > ol {
        counter-reset: item -1; // Allows there to be a "Chapter 0", but not "sub-section 0"

        & > li {
            padding-left: 1em;
            // padding-right: 1em;
        }
    }

    summary::marker {
        content: "";
    }

    details > summary::after {
        content: "...";
        padding-left: 1ch;
    }

    details[open] > summary {
        padding-bottom: 0.5em;
    }

    details[open] > summary::after {
        content: "";
    }

    li:hover {
        background-color: #00000008;
    }
}


/* Main content */

body > main {
    grid-area: content;
    overflow-y: scroll;
}

body > main > article {
    max-width: 80ch;
    margin: 0 4ch;
}

body main {
    font-weight: 300;
}

h1 {
    font-weight: 400;
}

code {
    font-size: 1rem;
}

code .class {
    color: dodgerblue;
    font-weight: bold;
}

code .interface {
    color: mediumseagreen;
    font-weight: bold;
}

code .comment {
    color: darkgrey;
}

code .keyword {
    color: darkblue;
    font-weight: bold;
}

code .function {
    font-style: italic;
}

div.example {
    border-radius: 8px;
    border-right: 2px lightskyblue solid;
    border-bottom: 2px lightskyblue solid;
    /* box-shadow: 1px 1px 3px 3px #0001; */
    background-color: aliceblue;
    padding: 1em 1ch;
    width: min-content;
    margin: 2em 0;

    &::before {
        content: "Example";
        position: absolute;
        transform: translate(0, -1.75em);
        padding: 0 1ch;
        border-radius: 4px;
        box-shadow: 2px 2px 0 0  lightskyblue ;
        background-color: aliceblue;
    }

    & > pre {
        padding: 1ch;

        &:only-child {
            margin: 0;
        }
    }
}
